* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
}
.nav {
  display: flex;
  width: 100%;
  height: 60px;
  background-color:  #800020;
}
.homePage {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  animation: Home 35s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("./images/Sunset.jpg");
  width: 100%;
  height: 100vh;
  display: block;
}

.nav .ul {
  display: flex;
  width: 100%;
}

.nav .navList {
  display: flex;
  color: ivory;
  list-style: none;
  font-size: 16px;
  padding-top: 15px;
  margin-left: auto;
  justify-self: flex-end;
  justify-content: space-evenly;
  width: 50%;
}
.nav .navLink {
  color: ivory;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  padding-top: 15px;
  margin-left: auto;
  width: 50%;
}
.navLink:hover {
  color: rgb(172, 172, 167);
  font-size: 17px;
}
.title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 5em;
  letter-spacing: 3px;
}
.title .urban {
  color: #800020;
}
.title .caribbean {
  color: #ee8c3a;
}
.title .flavors {
  color: #45ad97;
}

.subtitle {
  color: #eee7e8;
  text-shadow: 2px 2px rgba(105, 105, 105, 0.7);
  text-align: center;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 5px;
  word-spacing: 5px;
  position: relative;
  top: 10em;
}

@keyframes Home {
  16.6% {
    background-image: url("./images/Sunset.jpg");
  }

  33.2% {
    background-image: url("./images/umbrellas.jpg");
  }
  49.8% {
    background-image: url("./images/patio-table-and-chair-set-on-a-garden-2565222.jpg");
  }
  66.5% {
    background-image: url("./images/turtles.jpg");
  }
  83.2% {
    background-image: url("./images/OSJ.jpg");
  }
}

.buttons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.Boxes {
  height: 300px;
  width: 100vw;
}
.aboutPageContainer {
  text-align: center;
  padding-top: 10px;
  background-image: url("./images/umbrellas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
