* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav {
  background-color: #eee7e8cf;
  color: rgba(92, 157, 216, 0.838);
  height: 100px;
  width: 100vw;
  font-size: 25px;
  padding: 15px 20px;
}
.title {
  color: #eee7e8;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px rgba(105, 105, 105, 0.7);
  vertical-align: middle;
  letter-spacing: 3px;
}
.subtitle{
  color: #eee7e8;
  text-shadow: 2px 2px rgba(105, 105, 105, 0.7);
  text-align: center;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 5px;
  word-spacing: 5px;


}

.App {
  background-image: url("./images/beachoverhead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: block;
}
.Boxes {
  height: 300px;
  width: 100vw;
}
.Boxes .Urban {
  background-color: rgba(47, 124, 124, 0.892);
  width: 25%;
  text-align: center;
  padding-top: 10px;
  background-image: url("./images/assorted-coloured-umbrellas-hanging-near-buildings-2526099.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Boxes .Caribbean {
  width: 25%;
  background-color: rgba(61, 94, 155, 0.824);
  text-align: center;
  background-image: url("./images/patio-table-and-chair-set-on-a-garden-2565222.jpg");
  padding-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.Boxes .Flavors {
  width: 25%;
  background-color: rgba(44, 101, 243, 0.865);
  text-align: center;
  padding-top: 10px;
  background-image: url("./images/sliced-orange-fruit-in-clear-drinking-glass-3323682.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Footer {
  height: 150px;
  width: 100vw;
}

.menu-bar {
  height: 150px;
  width: 100%;
  background-color: #faf9f9d7;
  color: rgb(92, 187, 241);
}

.menu-items {
  text-decoration: none;
}
.ul li {
  display: flex;
  flex-direction: row;
}
.Boxes {
  color: #eee7e8;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
